apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: kube-system
  labels:
    k8s-app: filebeat
data:
  filebeat.yml: |
    filebeat.inputs:
    - type: log
      paths:
        - /var/log/pods/*/*.log
        - /var/log/containers/*.log
      processors:
      - add_kubernetes_metadata:
          in_cluster: true

    output.logstash:
      hosts: ["{{ logstash_host }}:5044"]
